body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  /* background-color: #EBEBEB; */
}
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
  font-family:monospace;
  font-size: large;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 80px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
  border-style: solid;
}

.project-container {
  /* display: flex; */
  /* grid-template-columns: repeat(3, 1fr); */
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  margin-top: 10px;
  /* background-color: navy; */
  text-align: center;
}
button {
  padding: 10px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: #373738;
  padding-top: 10px;
}
footer {
  background-color: #373738;
  padding: 5px;
  color: white;
  font-family:monospace;
  font-size: medium;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}
h1{
  text-align: left;
  padding-top: 5px;
  padding-left: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 21px;
}
h2{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.mySkills{
  /* background-color: #EBEBEB; */
  margin-top: 150px;
  border-top: solid 5px ;
  margin-bottom: 150px;
}
.myWork{
  background-color: white;
  /* display: flex;
  flex-direction: row; */
}
.flex{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 50px;
}
.skillItem{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 20px;
  align-items: center;
}
.skillTitle{
  margin: 0 20px;
}
.skillText{
  max-width: 75%;
}
.download{
  margin-top: 30px;
    background-color: #000; /* default color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    }
    
    .download:hover {
    background-color: #FF5733; /* hover color */
    cursor: pointer;
    }
    
    

.contactMe{
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 150px;
  border-top: solid 5px ;
  margin-bottom: 50px;
}
.contactName{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1 20px;
  align-items: center;
}
.myH1{
  padding-bottom: 50px;
  font-size: 25px;
  text-align: left;
}
/* MEDIA QUERY CODE  */

@media only screen and (max-width: 600px) {
  .flex-container {
  flex-direction: column;
  }
  .flex-child {
  width: 100%;
  }
  .grid-container {
  grid-template-areas:
  "header header"
  "main main"
  "footer footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  }
  }